@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Hahmlet:wght@300&family=Noto+Sans+KR:wght@300&display=swap");

* {
    font-family: "Cinzel", serif;
    font-family: "Hahmlet", serif;
    font-family: "Noto Sans KR", sans-serif;
}

body {
    margin: 0px;
}

.OuterWrap {
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Wrap {
    max-width: 1200px;
    width: 70vw;
}

.HorizontalButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.HorizontalButtonBox > button {
    margin: auto 2%;
}

.Button {
    border-radius: 5px;
    border: solid 1px black;
    background-color: transparent;

    font-size: small;

    transition: linear 0.2s;
}

.PrimaryButton {
    background-color: greenyellow;
    border-color: greenyellow;
}

.PrimaryButton:hover {
    border-color: green;
}

.SecondaryButton {
    background-color: beige;
    border-color: beige;
}

.SecondaryButton:hover {
    border-color: gold;
}

.WarningButton {
    background-color: orange;
    border-color: orange;
}

.WarningButton:hover {
    border-color: red;
}
